@charset "UTF-8";
.puzzle_img {
  width: 100%;
  height: 100%; }

.margin-bot-l {
  margin-bottom: 30px; }

.tablero-puzzle {
  padding: 0px;
  border: 1px solid black;
  height: 300px;
  width: 400px;
  background-image: url(prePieza.jpg); }

.tamaño {
  width: 200px;
  height: 200px; }
